.modal-nickname {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 16px #e5e5e5;

    min-width: 300px;

    h4 {
        text-align: center;
    }

    >input {
        border-radius: 4px;
        padding: 2px;
        font-size: 14px;
        border: 1px solid #acacac;
        margin-bottom: 25px;
    }

    >button {
        border-radius: 4px;
        padding: 2px;
        font-size: 14px;
        border: none;
        background-color: rgb(101, 235, 190);
        color: white;
        font-weight: bold;
        font-size: 21px;

        &:hover {
            background-color: rgb(63, 236, 179);
        }
    }
}